* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 150px;
}

ul {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

header {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  .logo {
    p {
      font-size: 2rem;
      color: darkslategrey;
      margin-bottom: 20px;
    }
  }
  nav {
    ul {
      li {
        margin-bottom: 10px;
        a {
          display: inline-block;
          text-decoration: none;
          font-size: 20px;
          color: chocolate;
          border: 2px solid brown;
          transition: background-color 0.3s, color 0.3s;
          padding: 10px 20px;
          border-radius: 8px;
          &:hover {
            background-color: brown;
            color: white;
          }
        }
      }
    }
  }
}

.drag_drop {
  .drop_items,
  .items,
  .drop_boxs {
    width: 150px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    .img_box,
    .imgBox {
      width: 150px;
      height: 150px;
      background-image: url(../images/angels.tulips.crying.png);
      background-position: center;
      background-size: contain;
    }
  }
  .items {
    .img_box {
      background-image: url(../images/The_red_rose.png);
    }
  }
  .drop_boxs {
    .imgBox {
      background-image: url(../images/mosaic_iron_painting.png);
    }
    &.active {
      border: 2px dashed crimson;
      box-shadow: none;
      transform: scale(1.07);
    }
  }
}

.file_drag_drop {
  .drop_area {
    border: 2px solid rgb(37, 5, 89);
    &.active {
      border: 2px dashed crimson;
    }
    border-radius: 5px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img_list {
    display: flex;
    flex-wrap: wrap;
    .img_box {
      width: 20%;
      margin: 10px;
      position: relative;
      img {
        max-width: 100%;
      }
      .icon_box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(160, 160, 160, 0.6);
        opacity: 0;
        transition: opacity 0.3s, box-shadow 0.3s;
        i {
          color: #fff;
          text-shadow: 0 0 3px black;
          cursor: pointer;
          font-size: 20px;
        }
      }
      &:hover .icon_box {
        opacity: 1;
        box-shadow: 0 0 8px 4px black;
      }
    }
  }
}
