#lessons .lesson .lesson-content .lesson-example .card-box, #lessons .lesson .lesson-content .lesson-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sass-extend .btn-yellow, .sass-extend .btn-green {
  padding: 18px 25px;
  font-size: 22px;
  border: 1px solid rgb(13, 12, 12);
  margin: 1rem;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  border-radius: 5px;
  color: var(--dark);
}
.sass-extend .btn-yellow:hover, .sass-extend .btn-green:hover {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

#lessons {
  padding: 50px 0;
}
#lessons .lesson .lesson-title {
  text-align: center;
  padding: 10px 0;
  color: brown;
  border: 2px double rgb(212, 171, 139);
  margin: 30px 0 20px;
}
#lessons .lesson .lesson-content .lesson-info {
  font-size: 20px;
  color: rgb(9, 146, 146);
  padding: 10px;
  border: 2px dashed rgba(199, 61, 130, 0.511);
}
#lessons .lesson .lesson-content .lesson-info .info-header {
  font-style: italic;
  color: rgb(112, 25, 152);
}
#lessons .lesson .lesson-content .lesson-example {
  padding: 20px 0;
  margin: 30px 0;
  border: 12px outset rgb(167, 106, 106);
  border-radius: 5px;
  background-color: rgb(213, 189, 189);
}
#lessons .lesson .lesson-content .lesson-example .card-box {
  border: 3px outset gray;
  width: 300px;
  height: 300px;
}
#lessons .lesson .lesson-content .lesson-example .card-box .card-text {
  font-size: 22px;
}

.sass-functions .card-item-1 {
  width: 200px;
  height: 200px;
  -webkit-box-shadow: -3px 0px 10px 1px rgba(0, 0, 0, 0.3019607843), -8px 0px 20px 0 rgba(0, 0, 0, 0.3019607843), -10px 0px 10px 0px rgba(0, 0, 0, 0.3019607843), -12px 0px 20px 0 rgba(0, 0, 0, 0.3019607843), -12px 2px 10px 0px rgba(0, 0, 0, 0.3019607843), -12px -2px 20px 0 rgba(0, 0, 0, 0.3019607843);
          box-shadow: -3px 0px 10px 1px rgba(0, 0, 0, 0.3019607843), -8px 0px 20px 0 rgba(0, 0, 0, 0.3019607843), -10px 0px 10px 0px rgba(0, 0, 0, 0.3019607843), -12px 0px 20px 0 rgba(0, 0, 0, 0.3019607843), -12px 2px 10px 0px rgba(0, 0, 0, 0.3019607843), -12px -2px 20px 0 rgba(0, 0, 0, 0.3019607843);
  background-color: aqua;
  color: black;
  border-color: rgb(35, 176, 176);
  margin-right: 5px;
}
.sass-functions .card-item-2 {
  -webkit-box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.3019607843), 8px 0px 20px 0 rgba(0, 0, 0, 0.3019607843), 10px 0px 10px 0px rgba(0, 0, 0, 0.3019607843), 12px 0px 20px 0 rgba(0, 0, 0, 0.3019607843), 12px 2px 10px 0px rgba(0, 0, 0, 0.3019607843), 12px -2px 20px 0 rgba(0, 0, 0, 0.3019607843);
          box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.3019607843), 8px 0px 20px 0 rgba(0, 0, 0, 0.3019607843), 10px 0px 10px 0px rgba(0, 0, 0, 0.3019607843), 12px 0px 20px 0 rgba(0, 0, 0, 0.3019607843), 12px 2px 10px 0px rgba(0, 0, 0, 0.3019607843), 12px -2px 20px 0 rgba(0, 0, 0, 0.3019607843);
  background-color: indigo;
  color: white;
  border-color: rgb(135, 14, 222);
}

.sass-extend .btn, .sass-extend .btn-blue, .sass-extend .btn-violet {
  padding: 18px 25px;
  font-size: 22px;
  border: 1px solid rgb(13, 12, 12);
  margin: 1rem;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  border-radius: 5px;
  color: var(--dark);
}
.sass-extend .btn:hover, .sass-extend .btn-blue:hover, .sass-extend .btn-violet:hover {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.sass-extend .btn-red {
  background-color: rgb(240, 55, 55);
  color: hsl(0deg, 86.0465116279%, 25%);
}
.sass-extend .btn-violet {
  background-color: rgb(233, 91, 238);
  color: hsl(297.9591836735deg, 81.2154696133%, 25%);
}
.sass-extend .btn-blue {
  background-color: rgb(49, 120, 242);
  color: hsl(217.9274611399deg, 88.1278538813%, 25%);
}
.sass-extend .btn-green {
  background-color: rgb(22, 184, 38);
  color: hsl(125.9259259259deg, 78.640776699%, 75%);
}
.sass-extend .btn-yellow {
  background-color: rgb(231, 248, 53);
  color: hsl(65.2307692308deg, 93.3014354067%, 25%);
}