/*#region Pseudo classes */


/*#region example1 */

.pseudo_classes {
    font-size: 20px;
    padding: 20px;
    margin: 40px;
    color: aliceblue;
    background-color: rgb(255, 196, 0);
}

.with_content::before {
    content: 'Before content';
    border-image: linear-gradient(135deg, rgb(6, 96, 58) 0%, rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0), rgb(6, 96, 58));
    border-width: 6px;
    border-style: solid;
    border-image-slice: 6;
    z-index: 1;
    background-color: rgb(6, 96, 58);
    padding: 4px;
    margin: 8px;
}

.with_content::after {
    content: 'After content';
    border-image: linear-gradient(-45deg, rgb(109, 41, 64) 0%, rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0), rgb(109, 41, 64));
    border-width: 6px;
    border-style: solid;
    border-image-slice: 6;
    z-index: 1;
    background-color: rgb(109, 41, 64);
    padding: 4px;
    margin: 8px;
}

.without_content::before,
.without_content::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 60px;
}

.without_content span {
    border-top: 5px solid rgb(6, 96, 58);
    border-left: 5px solid rgb(6, 96, 58);
    border-right: 5px solid rgb(109, 41, 64);
    border-bottom: 5px solid rgb(109, 41, 64);
    padding: 10px;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    background-color: rgb(255, 196, 0);
}

.without_content::before {
    position: relative;
    left: 26px;
    background-image: linear-gradient(135deg, rgb(6, 96, 58) 0%, rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0));
}

.without_content::after {
    position: relative;
    right: 26px;
    /* top: 5px; */
    background-image: linear-gradient(-45deg, rgb(109, 41, 64) 0%, rgb(255, 196, 0), rgb(255, 196, 0), rgb(255, 196, 0));
}


/*#endregion */


/*#region Triangle Button */

.triangleBtn {
    background: linear-gradient(rgb(226, 149, 218), rgb(226, 149, 218)) padding-box, linear-gradient(rgba(226, 149, 218, 0.351), #ffddd6, #ffddd6, #ffddd6) border-box;
    border: 10px solid transparent;
    position: relative;
    color: #ffddd6;
}

.triangleBtn::before,
.triangleBtn::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: #ffddd6cf transparent transparent transparent;
}

.triangleBtn::before {
    top: 2px;
    left: 2px;
}

.triangleBtn::after {
    bottom: 2px;
    right: 2px;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent #ffddd6cf transparent;
}


/*#endregion */


/*# Example-2 */

.example {
    padding: 15px;
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( white, white, #80808054);
}

.example h1 {
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.example h1::before {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 35%;
    width: 30%;
    height: 3px;
    background-color: rgb(207 201 201 / 52%);
    border-radius: 4px;
}

.example h1::after {
    content: '';
    position: absolute;
    bottom: -51%;
    left: 44%;
    width: 12%;
    height: 4px;
    background-color: rgb(193 209 110);
    border-radius: 4px;
}

.example>p {
    text-align: center;
    width: 50%;
    line-height: 2;
    color: gray;
    font-weight: 500;
}

.cards {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards .image {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    max-width: 100%;
    width: 75%;
    height: 185px;
    border: 2px solid rgb(193 209 110);
    position: relative;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 59%);
}

.cards .image::before {
    content: '01';
    color: white;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(193 209 110);
    box-shadow: 1px 1px 6px rgb(0 0 0 / 59%);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    right: 5%;
}

.cards.item_1 .image {
    background-image: url("../images/l4v4/person_1.webp");
}

.cards.item_2 .image {
    background-image: url("../images/l4v4/person_2.jpeg");
}

.cards.item_3 .image {
    background-image: url("../images/l4v4/person_3.webp");
}

.cards.item_4 .image {
    background-image: url("../images/l4v4/person_4.webp");
}

.cards h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards p {
    line-height: 2;
    color: gray;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
}


/*#endregion */


/*#endregion */


/* Position */

.scrollToTop {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: brown;
    z-index: 1;
}


/* position: fixed; */

.scrollToTop span {
    color: wheat;
    font-size: 28px;
}


/* position: relative; */

.parent_p_r {
    background: bisque;
    background: linear-gradient(135deg, white, bisque, bisque, white) padding-box, linear-gradient(135deg, bisque, white, white, bisque) border-box;
    border: 20px solid transparent;
    border-radius: 2.4em;
}

.parent_p_r h2 {
    font-size: 22px;
    padding: 10px;
    position: relative;
}

.parent_p_r>h2::after {
    content: 'Child old place';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 42px;
    border: 3px dashed burlywood;
    position: absolute;
    bottom: -3px;
    right: -174px;
    color: rgba(109, 86, 55, 0.812);
}

.position_relative {
    position: relative;
    bottom: 80px;
    right: 20px;
    background-color: burlywood;
}


/* position: absolute; */

.parent_p_a {
    position: relative;
    background-color: rgb(181, 202, 138);
    border-radius: 10px;
}

.parent_p_a h2 {
    font-size: 22px;
    padding: 10px;
    position: relative;
}

.parent_p_a>h2::after {
    content: 'Child old place';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 42px;
    border: 3px dashed rgb(215, 242, 153);
    position: absolute;
    bottom: -3px;
    right: -178px;
    color: rgb(39, 46, 40);
}

.position_absolute {
    position: absolute;
    bottom: 80px;
    right: 20px;
    background-color: rgb(215, 242, 153);
}

[data-title]::after,
[data-title]::before {
    content: '';
    transition: all .3s;
    opacity: 0;
    z-index: -1;
    position: absolute;
}

[data-title]::before {
    content: attr(data-title);
    top: -140%;
    left: -21%;
    background-color: rgb(242, 246, 218);
    color: rgb(39, 46, 40);
    padding: 12px;
    width: 115%;
    border-radius: 20px;
    font-size: 18px;
    display: inline-block;
}

[data-title]::after {
    border-top: 25px solid rgb(242, 246, 218);
    border-left: 100px solid transparent;
    border-right: 30px solid transparent;
    display: inline-block;
    top: -17px;
    right: 8px;
}

[data-title]:hover::after,
[data-title]:hover::before {
    z-index: 1;
    opacity: 1;
}