.container {
    width: 100%;
}

[class*="col-"] {
    flex-basis: 100%!important;
}

.col-1 {
    flex-basis: 8.33%!important;
}

.col-2 {
    flex-basis: 16.66%!important;
}

.col-3 {
    flex-basis: 25%!important;
}

.col-4 {
    flex-basis: 33.33%!important;
}

.col-5 {
    flex-basis: 41.66%!important;
}

.col-6 {
    flex-basis: 50%!important;
}

.col-7 {
    flex-basis: 58.33%!important;
}

.col-8 {
    flex-basis: 66.66%!important;
}

.col-9 {
    flex-basis: 75%!important;
}

.col-10 {
    flex-basis: 83.33%!important;
}

.col-11 {
    flex-basis: 91.66%!important;
}

.nav-links {
    flex-direction: column;
    align-items: center;
}

.nav-links li:not(:first-child) {
    margin-left: 0;
}