@font-face {
    font-family: "Artful Beauty";
    src: url("../fonts/ArtfulBeauty.otf");
}

@font-face {
    font-family: "Creme Espana";
    src: url("../fonts/Creme\ Espana.otf");
    src: url("../fonts/Creme\ Espana.ttf");
}

@font-face {
    font-family: "Welcome MyLove";
    src: url("../fonts/Welcome\ MyLove.otf");
}

@font-face {
    font-family: "Aphrodite Slim Pro";
    src: url("../fonts/AphroditeSlimPro.otf");
}


/* --- Break Fill Start --- */

@font-face {
    font-family: "Break Fill";
    src: url("../fonts/Break-Fill/Break-Fill-Extralight.otf");
    font-weight: 100;
}

@font-face {
    font-family: "Break Fill";
    src: url("../fonts/Break-Fill/Break-Fill-Light.otf");
    font-weight: 200;
}

@font-face {
    font-family: "Break Fill";
    src: url("../fonts/Break-Fill/Break-Fill-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Break Fill";
    src: url("../fonts/Break-Fill/Break-Fill-Semibold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "Break Fill";
    src: url("../fonts/Break-Fill/Break-Fill-Bold.otf");
    font-weight: bold;
}


/* ... Break Fill End ... */