/*#region Icomoon Custom Icons */

@font-face {
    font-family: "Icomoon";
    src: url("../icons/icomoon.woff");
}

.icomoon-custom [class^="icon-"] {
    font-family: Icomoon!important;
}

.icon-insert_invitation:before {
    content: "\e900";
}

.icon-asterisk:before {
    content: "\f069";
}

.icon-heart:before {
    content: "\f004";
}

.icon-trash-o:before {
    content: "\f014";
}

.icon-pencil:before {
    content: "\f040";
}

.icon-heart-o:before {
    content: "\f08a";
}

.icon-laptop:before {
    content: "\f109";
}

.icon-mobile:before {
    content: "\f10b";
}

.icon-mobile-phone:before {
    content: "\f10b";
}

.icon-diamond:before {
    content: "\f219";
}

.icon-hourglass-o:before {
    content: "\f250";
}

.icon-television:before {
    content: "\f26c";
}

.icon-tv:before {
    content: "\f26c";
}

.icon-calendar-check-o:before {
    content: "\f274";
}

.icon-quora:before {
    content: "\f2c4";
}

.icon-quill:before {
    content: "\e907";
}

.icon-droplet:before {
    content: "\e90b";
}

.icon-mic:before {
    content: "\e91e";
}

.icon-clock:before {
    content: "\e94e";
}

.icon-forward:before {
    content: "\e969";
}

.icon-bubble2:before {
    content: "\e96e";
}

.icon-user-plus:before {
    content: "\e973";
}

.icon-user-minus:before {
    content: "\e974";
}

.icon-user-check:before {
    content: "\e975";
}

.icon-spinner9:before {
    content: "\e982";
}

.icon-lock:before {
    content: "\e98f";
}

.icon-unlocked:before {
    content: "\e990";
}

.icon-cog:before {
    content: "\e994";
}

.icon-gift:before {
    content: "\e99f";
}

.icon-switch:before {
    content: "\e9b6";
}

.icon-list2:before {
    content: "\e9bb";
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-attachment:before {
    content: "\e9cd";
}

.icon-eye:before {
    content: "\e9ce";
}

.icon-eye-blocked:before {
    content: "\e9d1";
}

.icon-smile:before {
    content: "\e9e1";
}

.icon-wink:before {
    content: "\e9e7";
}

.icon-grin:before {
    content: "\e9e9";
}

.icon-cool:before {
    content: "\e9eb";
}

.icon-cross:before {
    content: "\ea0f";
}

.icon-infinite:before {
    content: "\ea2f";
}

.icon-circle-up:before {
    content: "\ea41";
}

.icon-circle-right:before {
    content: "\ea42";
}

.icon-circle-down:before {
    content: "\ea43";
}

.icon-circle-left:before {
    content: "\ea44";
}

.icon-google-plus:before {
    content: "\ea8b";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-whatsapp:before {
    content: "\ea93";
}

.icon-telegram:before {
    content: "\ea95";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-github:before {
    content: "\eab0";
}

.icon-linkedin2:before {
    content: "\eaca";
}

.icon-pinterest2:before {
    content: "\ead2";
}


/*#endregion */


/*#region Fontello Custom Icons */

@font-face {
    font-family: "Fontello";
    src: url("../icons/fontello.woff2");
}

.fontello-custom [class^="icon-"] {
    font-family: Fontello!important;
}

.icon-emo_coffee:before {
    content: '\a001';
}

.icon-spin:before {
    content: '\a002';
}

.icon-crown:before {
    content: '\a003';
}

.icon-music:before {
    content: '\a004';
}

.fontello-custom .icon-star:before {
    content: '\a005';
}

.icon-star_empty:before {
    content: '\a006';
}

.icon-heartbeat:before {
    content: '\a007';
}

.icon-drupal:before {
    content: '\a008';
}

.icon-github:before {
    content: '\a009';
}

.icon-basket:before {
    content: '\a00a';
}

.icon-certificate_outline:before {
    content: '\a00b';
}

.icon-folder_empty:before {
    content: '\a00c';
}

.icon-aperture_alt:before {
    content: '\a00d';
}

.icon-award:before {
    content: '\a00e';
}

.icon-snow_heavy:before {
    content: '\a00f';
}

.icon-sun:before {
    content: '\a010';
}

.icon-soundcloud:before {
    content: '\a011';
}

.icon-tree:before {
    content: '\a012';
}

.icon-trash:before {
    content: '\a013';
}

.icon-lkdto:before {
    content: '\a014';
}

.icon-pinboard:before {
    content: '\a015';
}

.icon-instagram:before {
    content: '\a016';
}

.icon-star_empty_1:before {
    content: '\a017';
}

.icon-star_1:before {
    content: '\a018';
}

.icon-eye:before {
    content: '\a019';
}

.icon-eye_off:before {
    content: '\a01a';
}

.icon-beaker:before {
    content: '\a01b';
}

.icon-t_shirt:before {
    content: '\a01c';
}

.icon-fire:before {
    content: '\a01d';
}

.icon-updown_circle:before {
    content: '\a01e';
}

.icon-emo_thumbsup:before {
    content: '\e80c';
}


/*#endregion */


/*#region Icomoon Travel Site */

@font-face {
    font-family: "icomoon-travel";
    src: url("../icons/icomoon-travel.ttf");
}

[class^="icon-"] {
    font-family: icomoon-travel;
}

.icon-loc:before {
    content: "\e900";
}

.icon-time:before {
    content: "\e901";
}

.icon-star:before {
    content: "\e902";
}


/*#endregion */