/* icons */

@font-face {
    font-family: "icon-l3v5";
    src: url("../icons/icomoon-l3v5.woff");
}

[class^="icon--l3v5_"] {
    font-family: "icon-l3v5"!important;
}

.icon--l3v5_check:before {
    content: "\e900"!important;
}

.icon--l3v5_check_box:before {
    content: "\e901"!important;
}

.icon--l3v5_check_box_outline_blank:before {
    content: "\e902"!important;
}


/* ------------ */

body {
    font-family: "Break Fill";
}

.box-s {
    background-color: antiquewhite;
}


/* Layout */

.box-s h3 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 15px 5px;
    color: darkblue;
}

.float-left:not(:first-child) {
    margin-left: 10px;
}

.float-left p {
    color: tomato;
    font-weight: bold;
}

.float-right:not(:first-child) {
    margin-right: 10px;
}

.float-right p {
    color: blueviolet;
    font-weight: bold;
}


/* Float */

.float-left {
    float: left;
}

.float-right {
    float: right;
}


/* ya bele */

.clearfix {
    clear: both;
}


/* ya da bele yaza bilerik */

.row::after {
    content: '';
    clear: both;
    display: table;
}

.grid-12 p {
    color: darkolivegreen;
    font-weight: bold;
}

[class*="box-s"] {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.319);
    margin-top: 10px;
}