/* ==================== Section ==================== */


/* ----------- classes ----------- */


/* ------------------------------- */


/*#region Default */

* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    padding-bottom: 100px;
}


/*#endregion */


/* ==================== Container ==================== */


/*#region Container */

.container {
    width: 1140px;
    margin: 0 auto;
}

.container:first-child {
    margin-top: 30px;
}

.container:not(:first-child) {
    margin: 150px auto;
}

.container h2 {
    text-align: center;
    font-size: 36px;
    color: rgb(114, 54, 44);
    border-top: 1px dashed rgba(50, 21, 21, 0.868);
    border-bottom: 1px dashed rgba(50, 21, 21, 0.868);
    padding: 20px 0;
    margin: 10px 0;
}


/*#endregion */


/* ==================== Width ==================== */


/*#region Width */

.w-0 {
    width: 0 !important;
}


/* ----------- width % ----------- */

.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40 {
    width: 40% !important;
}

.w-45 {
    width: 45% !important;
}

.w-50 {
    width: 50% !important;
}

.w-55 {
    width: 55% !important;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.w-70 {
    width: 70% !important;
}

.w-75 {
    width: 75% !important;
}

.w-80 {
    width: 80% !important;
}

.w-85 {
    width: 85% !important;
}

.w-90 {
    width: 90% !important;
}

.w-95 {
    width: 95% !important;
}

.w-100 {
    width: 100% !important;
}


/* ------------------------------- */


/*#endregion */


/* ==================== Height ==================== */


/*#region Height */

.h-0 {
    height: 0 !important;
}


/* ----------- height % ----------- */

.h-5 {
    height: 5% !important;
}

.h-10 {
    height: 10% !important;
}

.h-15 {
    height: 15% !important;
}

.h-20 {
    height: 20% !important;
}

.h-25 {
    height: 25% !important;
}

.h-30 {
    height: 30% !important;
}

.h-35 {
    height: 35% !important;
}

.h-40 {
    height: 40% !important;
}

.h-45 {
    height: 45% !important;
}

.h-50 {
    height: 50% !important;
}

.h-55 {
    height: 55% !important;
}

.h-60 {
    height: 60% !important;
}

.h-65 {
    height: 65% !important;
}

.h-70 {
    height: 70% !important;
}

.h-75 {
    height: 75% !important;
}

.h-80 {
    height: 80% !important;
}

.h-85 {
    height: 85% !important;
}

.h-90 {
    height: 90% !important;
}

.h-95 {
    height: 95% !important;
}

.h-100 {
    height: 100% !important;
}


/* ------------------------------- */


/*#endregion */


/* ==================== Min-Height ==================== */


/*#region Min Height */

.h_min-0 {
    min-height: 0 !important;
}


/* ----------- min-height 1_0=100px ----------- */

.h_min-0_5 {
    min-height: 50px !important;
}

.h_min-1 {
    min-height: 100px !important;
}

.h_min-1_5 {
    min-height: 150px !important;
}

.h_min-2 {
    min-height: 200px !important;
}

.h_min-2_5 {
    min-height: 250px !important;
}

.h_min-3 {
    min-height: 300px !important;
}

.h_min-3_5 {
    min-height: 350px !important;
}

.h_min-4 {
    min-height: 400px !important;
}

.h_min-4_5 {
    min-height: 450px !important;
}

.h_min-5 {
    min-height: 500px !important;
}

.h_min-5_5 {
    min-height: 550px !important;
}

.h_min-6 {
    min-height: 600px !important;
}

.h_min-6_5 {
    min-height: 650px !important;
}

.h_min-7 {
    min-height: 700px !important;
}

.h_min-7_5 {
    min-height: 750px !important;
}

.h_min-8 {
    min-height: 800px !important;
}

.h_min-8_5 {
    min-height: 850px !important;
}

.h_min-9 {
    min-height: 900px !important;
}

.h_min-9_5 {
    min-height: 950px !important;
}

.h_min-10 {
    min-height: 1000px !important;
}


/* ------------------------------- */


/*#endregion */


/* ==================== Margin ==================== */


/*#region Margin */

.m-0 {
    margin: 0 !important;
}

.m-0-a {
    margin: 0 auto !important;
}

.m-a-0 {
    margin: auto 0 !important;
}

.m-a-a {
    margin: auto auto !important;
}


/* ----------- margin 1_0=10px ----------- */


/*#region margin */

.m-0 {
    margin: 0 !important;
}

.m-0_5 {
    margin: 5px !important;
}

.m-1 {
    margin: 10px !important;
}

.m-1_5 {
    margin: 15px !important;
}

.m-2 {
    margin: 20px !important;
}

.m-2_5 {
    margin: 25px !important;
}

.m-3 {
    margin: 30px !important;
}

.m-3_5 {
    margin: 35px !important;
}

.m-4 {
    margin: 40px !important;
}

.m-4_5 {
    margin: 45px !important;
}

.m-5 {
    margin: 50px !important;
}

.m-5_5 {
    margin: 55px !important;
}

.m-6 {
    margin: 60px !important;
}

.m-6_5 {
    margin: 65px !important;
}

.m-7 {
    margin: 70px !important;
}

.m-7_5 {
    margin: 75px !important;
}

.m-8 {
    margin: 80px !important;
}

.m-8_5 {
    margin: 85px !important;
}

.m-9 {
    margin: 90px !important;
}

.m-9_5 {
    margin: 95px !important;
}

.m-10 {
    margin: 100px !important;
}


/*#endregion */


/*#region margin-top */

.m_t-0 {
    margin-top: 0 !important;
}

.m_t-0_5 {
    margin-top: 5 !important;
}

.m_t-1 {
    margin-top: 10px !important;
}

.m_t-1_5 {
    margin-top: 15px !important;
}

.m_t-2 {
    margin-top: 20px !important;
}

.m_t-2_5 {
    margin-top: 25px !important;
}

.m_t-3 {
    margin-top: 30px !important;
}

.m_t-3_5 {
    margin-top: 35px !important;
}

.m_t-4 {
    margin-top: 40px !important;
}

.m_t-4_5 {
    margin-top: 45px !important;
}

.m_t-5 {
    margin-top: 50px !important;
}

.m_t-5_5 {
    margin-top: 55px !important;
}

.m_t-6 {
    margin-top: 60px !important;
}

.m_t-6_5 {
    margin-top: 65px !important;
}

.m_t-7 {
    margin-top: 70px !important;
}

.m_t-7_5 {
    margin-top: 75px !important;
}

.m_t-8 {
    margin-top: 80px !important;
}

.m_t-8_5 {
    margin-top: 85px !important;
}

.m_t-9 {
    margin-top: 90px !important;
}

.m_t-9_5 {
    margin-top: 95px !important;
}

.m_t-10 {
    margin-top: 100px !important;
}


/*#endregion */


/*#region margin-right */

.m_r-0 {
    margin-right: 0 !important;
}

.m_r-0_5 {
    margin-right: 5 !important;
}

.m_r-1 {
    margin-right: 10px !important;
}

.m_r-1_5 {
    margin-right: 15px !important;
}

.m_r-2 {
    margin-right: 20px !important;
}

.m_r-2_5 {
    margin-right: 25px !important;
}

.m_r-3 {
    margin-right: 30px !important;
}

.m_r-3_5 {
    margin-right: 35px !important;
}

.m_r-4 {
    margin-right: 40px !important;
}

.m_r-4_5 {
    margin-right: 45px !important;
}

.m_r-5 {
    margin-right: 50px !important;
}

.m_r-5_5 {
    margin-right: 55px !important;
}

.m_r-6 {
    margin-right: 60px !important;
}

.m_r-6_5 {
    margin-right: 65px !important;
}

.m_r-7 {
    margin-right: 70px !important;
}

.m_r-7_5 {
    margin-right: 75px !important;
}

.m_r-8 {
    margin-right: 80px !important;
}

.m_r-8_5 {
    margin-right: 85px !important;
}

.m_r-9 {
    margin-right: 90px !important;
}

.m_r-9_5 {
    margin-right: 95px !important;
}

.m_r-10 {
    margin-right: 100px !important;
}


/*#endregion */


/*#region margin-bottom */

.m_b-0 {
    margin-bottom: 0 !important;
}

.m_b-0_5 {
    margin-bottom: 5 !important;
}

.m_b-1 {
    margin-bottom: 10px !important;
}

.m_b-1_5 {
    margin-bottom: 15px !important;
}

.m_b-2 {
    margin-bottom: 20px !important;
}

.m_b-2_5 {
    margin-bottom: 25px !important;
}

.m_b-3 {
    margin-bottom: 30px !important;
}

.m_b-3_5 {
    margin-bottom: 35px !important;
}

.m_b-4 {
    margin-bottom: 40px !important;
}

.m_b-4_5 {
    margin-bottom: 45px !important;
}

.m_b-5 {
    margin-bottom: 50px !important;
}

.m_b-5_5 {
    margin-bottom: 55px !important;
}

.m_b-6 {
    margin-bottom: 60px !important;
}

.m_b-6_5 {
    margin-bottom: 65px !important;
}

.m_b-7 {
    margin-bottom: 70px !important;
}

.m_b-7_5 {
    margin-bottom: 75px !important;
}

.m_b-8 {
    margin-bottom: 80px !important;
}

.m_b-8_5 {
    margin-bottom: 85px !important;
}

.m_b-9 {
    margin-bottom: 90px !important;
}

.m_b-9_5 {
    margin-bottom: 95px !important;
}

.m_b-10 {
    margin-bottom: 100px !important;
}


/*#endregion */


/*#region margin-left */

.m_l-0 {
    margin-left: 0 !important;
}

.m_l-0_5 {
    margin-left: 5 !important;
}

.m_l-1 {
    margin-left: 10px !important;
}

.m_l-1_5 {
    margin-left: 15px !important;
}

.m_l-2 {
    margin-left: 20px !important;
}

.m_l-2_5 {
    margin-left: 25px !important;
}

.m_l-3 {
    margin-left: 30px !important;
}

.m_l-3_5 {
    margin-left: 35px !important;
}

.m_l-4 {
    margin-left: 40px !important;
}

.m_l-4_5 {
    margin-left: 45px !important;
}

.m_l-5 {
    margin-left: 50px !important;
}

.m_l-5_5 {
    margin-left: 55px !important;
}

.m_l-6 {
    margin-left: 60px !important;
}

.m_l-6_5 {
    margin-left: 65px !important;
}

.m_l-7 {
    margin-left: 70px !important;
}

.m_l-7_5 {
    margin-left: 75px !important;
}

.m_l-8 {
    margin-left: 80px !important;
}

.m_l-8_5 {
    margin-left: 85px !important;
}

.m_l-9 {
    margin-left: 90px !important;
}

.m_l-9_5 {
    margin-left: 95px !important;
}

.m_l-10 {
    margin-left: 100px !important;
}


/*#endregion */


/*#region margin-x */

.m_x-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.m_x-0_5 {
    margin-left: 5 !important;
    margin-right: 5 !important;
}

.m_x-1 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.m_x-1_5 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.m_x-2 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.m_x-2_5 {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.m_x-3 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.m_x-3_5 {
    margin-left: 35px !important;
    margin-right: 35px !important;
}

.m_x-4 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.m_x-4_5 {
    margin-left: 45px !important;
    margin-right: 45px !important;
}

.m_x-5 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.m_x-5_5 {
    margin-left: 55px !important;
    margin-right: 55px !important;
}

.m_x-6 {
    margin-left: 60px !important;
    margin-right: 60px !important;
}

.m_x-6_5 {
    margin-left: 65px !important;
    margin-right: 65px !important;
}

.m_x-7 {
    margin-left: 70px !important;
    margin-right: 70px !important;
}

.m_x-7_5 {
    margin-left: 75px !important;
    margin-right: 75px !important;
}

.m_x-8 {
    margin-left: 80px !important;
    margin-right: 80px !important;
}

.m_x-8_5 {
    margin-left: 85px !important;
    margin-right: 85px !important;
}

.m_x-9 {
    margin-left: 90px !important;
    margin-right: 90px !important;
}

.m_x-9_5 {
    margin-left: 95px !important;
    margin-right: 95px !important;
}

.m_x-10 {
    margin-left: 100px !important;
    margin-right: 100px !important;
}


/*#endregion */


/*#region margin-y */

.m_y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m_y-0_5 {
    margin-top: 5 !important;
    margin-bottom: 5 !important;
}

.m_y-1 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.m_y-1_5 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.m_y-2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.m_y-2_5 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.m_y-3 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.m_y-3_5 {
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}

.m_y-4 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.m_y-4_5 {
    margin-top: 45px !important;
    margin-bottom: 45px !important;
}

.m_y-5 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.m_y-5_5 {
    margin-top: 55px !important;
    margin-bottom: 55px !important;
}

.m_y-6 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.m_y-6_5 {
    margin-top: 65px !important;
    margin-bottom: 65px !important;
}

.m_y-7 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.m_y-7_5 {
    margin-top: 75px !important;
    margin-bottom: 75px !important;
}

.m_y-8 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.m_y-8_5 {
    margin-top: 85px !important;
    margin-bottom: 85px !important;
}

.m_y-9 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}

.m_y-9_5 {
    margin-top: 95px !important;
    margin-bottom: 95px !important;
}

.m_y-10 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}


/*#endregion */


/* ------------------------------- */


/*#endregion */


/* ==================== Padding ==================== */


/*#region Padding */

.p-0 {
    padding: 0 !important;
}


/* ----------- padding 1_0=10px ----------- */


/*#region padding */

.p-0 {
    padding: 0 !important;
}

.p-0_5 {
    padding: 5px !important;
}

.p-1 {
    padding: 10px !important;
}

.p-1_5 {
    padding: 15px !important;
}

.p-2 {
    padding: 20px !important;
}

.p-2_5 {
    padding: 25px !important;
}

.p-3 {
    padding: 30px !important;
}

.p-3_5 {
    padding: 35px !important;
}

.p-4 {
    padding: 40px !important;
}

.p-4_5 {
    padding: 45px !important;
}

.p-5 {
    padding: 50px !important;
}

.p-5_5 {
    padding: 55px !important;
}

.p-6 {
    padding: 60px !important;
}

.p-6_5 {
    padding: 65px !important;
}

.p-7 {
    padding: 70px !important;
}

.p-7_5 {
    padding: 75px !important;
}

.p-8 {
    padding: 80px !important;
}

.p-8_5 {
    padding: 85px !important;
}

.p-9 {
    padding: 90px !important;
}

.p-9_5 {
    padding: 95px !important;
}

.p-10 {
    padding: 100px !important;
}


/*#endregion */


/*#region padding-top */

.p_t-0 {
    padding-top: 0 !important;
}

.p_t-0_5 {
    padding-top: 5 !important;
}

.p_t-1 {
    padding-top: 10px !important;
}

.p_t-1_5 {
    padding-top: 15px !important;
}

.p_t-2 {
    padding-top: 20px !important;
}

.p_t-2_5 {
    padding-top: 25px !important;
}

.p_t-3 {
    padding-top: 30px !important;
}

.p_t-3_5 {
    padding-top: 35px !important;
}

.p_t-4 {
    padding-top: 40px !important;
}

.p_t-4_5 {
    padding-top: 45px !important;
}

.p_t-5 {
    padding-top: 50px !important;
}

.p_t-5_5 {
    padding-top: 55px !important;
}

.p_t-6 {
    padding-top: 60px !important;
}

.p_t-6_5 {
    padding-top: 65px !important;
}

.p_t-7 {
    padding-top: 70px !important;
}

.p_t-7_5 {
    padding-top: 75px !important;
}

.p_t-8 {
    padding-top: 80px !important;
}

.p_t-8_5 {
    padding-top: 85px !important;
}

.p_t-9 {
    padding-top: 90px !important;
}

.p_t-9_5 {
    padding-top: 95px !important;
}

.p_t-10 {
    padding-top: 100px !important;
}


/*#endregion */


/*#region padding-right */

.p_r-0 {
    padding-right: 0 !important;
}

.p_r-0_5 {
    padding-right: 5 !important;
}

.p_r-1 {
    padding-right: 10px !important;
}

.p_r-1_5 {
    padding-right: 15px !important;
}

.p_r-2 {
    padding-right: 20px !important;
}

.p_r-2_5 {
    padding-right: 25px !important;
}

.p_r-3 {
    padding-right: 30px !important;
}

.p_r-3_5 {
    padding-right: 35px !important;
}

.p_r-4 {
    padding-right: 40px !important;
}

.p_r-4_5 {
    padding-right: 45px !important;
}

.p_r-5 {
    padding-right: 50px !important;
}

.p_r-5_5 {
    padding-right: 55px !important;
}

.p_r-6 {
    padding-right: 60px !important;
}

.p_r-6_5 {
    padding-right: 65px !important;
}

.p_r-7 {
    padding-right: 70px !important;
}

.p_r-7_5 {
    padding-right: 75px !important;
}

.p_r-8 {
    padding-right: 80px !important;
}

.p_r-8_5 {
    padding-right: 85px !important;
}

.p_r-9 {
    padding-right: 90px !important;
}

.p_r-9_5 {
    padding-right: 95px !important;
}

.p_r-10 {
    padding-right: 100px !important;
}


/*#endregion */


/*#region padding-bottom */

.p_b-0 {
    padding-bottom: 0 !important;
}

.p_b-0_5 {
    padding-bottom: 5 !important;
}

.p_b-1 {
    padding-bottom: 10px !important;
}

.p_b-1_5 {
    padding-bottom: 15px !important;
}

.p_b-2 {
    padding-bottom: 20px !important;
}

.p_b-2_5 {
    padding-bottom: 25px !important;
}

.p_b-3 {
    padding-bottom: 30px !important;
}

.p_b-3_5 {
    padding-bottom: 35px !important;
}

.p_b-4 {
    padding-bottom: 40px !important;
}

.p_b-4_5 {
    padding-bottom: 45px !important;
}

.p_b-5 {
    padding-bottom: 50px !important;
}

.p_b-5_5 {
    padding-bottom: 55px !important;
}

.p_b-6 {
    padding-bottom: 60px !important;
}

.p_b-6_5 {
    padding-bottom: 65px !important;
}

.p_b-7 {
    padding-bottom: 70px !important;
}

.p_b-7_5 {
    padding-bottom: 75px !important;
}

.p_b-8 {
    padding-bottom: 80px !important;
}

.p_b-8_5 {
    padding-bottom: 85px !important;
}

.p_b-9 {
    padding-bottom: 90px !important;
}

.p_b-9_5 {
    padding-bottom: 95px !important;
}

.p_b-10 {
    padding-bottom: 100px !important;
}


/*#endregion */


/*#region padding-left */

.p_l-0 {
    padding-left: 0 !important;
}

.p_l-0_5 {
    padding-left: 5 !important;
}

.p_l-1 {
    padding-left: 10px !important;
}

.p_l-1_5 {
    padding-left: 15px !important;
}

.p_l-2 {
    padding-left: 20px !important;
}

.p_l-2_5 {
    padding-left: 25px !important;
}

.p_l-3 {
    padding-left: 30px !important;
}

.p_l-3_5 {
    padding-left: 35px !important;
}

.p_l-4 {
    padding-left: 40px !important;
}

.p_l-4_5 {
    padding-left: 45px !important;
}

.p_l-5 {
    padding-left: 50px !important;
}

.p_l-5_5 {
    padding-left: 55px !important;
}

.p_l-6 {
    padding-left: 60px !important;
}

.p_l-6_5 {
    padding-left: 65px !important;
}

.p_l-7 {
    padding-left: 70px !important;
}

.p_l-7_5 {
    padding-left: 75px !important;
}

.p_l-8 {
    padding-left: 80px !important;
}

.p_l-8_5 {
    padding-left: 85px !important;
}

.p_l-9 {
    padding-left: 90px !important;
}

.p_l-9_5 {
    padding-left: 95px !important;
}

.p_l-10 {
    padding-left: 100px !important;
}


/*#endregion */


/*#region padding-x */

.p_x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p_x-0_5 {
    padding-left: 5 !important;
    padding-right: 5 !important;
}

.p_x-1 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.p_x-1_5 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.p_x-2 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.p_x-2_5 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.p_x-3 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.p_x-3_5 {
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.p_x-4 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.p_x-4_5 {
    padding-left: 45px !important;
    padding-right: 45px !important;
}

.p_x-5 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.p_x-5_5 {
    padding-left: 55px !important;
    padding-right: 55px !important;
}

.p_x-6 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.p_x-6_5 {
    padding-left: 65px !important;
    padding-right: 65px !important;
}

.p_x-7 {
    padding-left: 70px !important;
    padding-right: 70px !important;
}

.p_x-7_5 {
    padding-left: 75px !important;
    padding-right: 75px !important;
}

.p_x-8 {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.p_x-8_5 {
    padding-left: 85px !important;
    padding-right: 85px !important;
}

.p_x-9 {
    padding-left: 90px !important;
    padding-right: 90px !important;
}

.p_x-9_5 {
    padding-left: 95px !important;
    padding-right: 95px !important;
}

.p_x-10 {
    padding-left: 100px !important;
    padding-right: 100px !important;
}


/*#endregion */


/*#region padding-y */

.p_y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.p_y-0_5 {
    padding-top: 5 !important;
    padding-bottom: 5 !important;
}

.p_y-1 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.p_y-1_5 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.p_y-2 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.p_y-2_5 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.p_y-3 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.p_y-3_5 {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
}

.p_y-4 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.p_y-4_5 {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}

.p_y-5 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.p_y-5_5 {
    padding-top: 55px !important;
    padding-bottom: 55px !important;
}

.p_y-6 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.p_y-6_5 {
    padding-top: 65px !important;
    padding-bottom: 65px !important;
}

.p_y-7 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}

.p_y-7_5 {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
}

.p_y-8 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.p_y-8_5 {
    padding-top: 85px !important;
    padding-bottom: 85px !important;
}

.p_y-9 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}

.p_y-9_5 {
    padding-top: 95px !important;
    padding-bottom: 95px !important;
}

.p_y-10 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}


/*#endregion */


/* ------------------------------- */


/*#endregion */


/* ==================== Font Size ==================== */


/*#region font size 1=1px 6-32 */

.f_s-6 {
    font-size: 6px !important;
}

.f_s-8 {
    font-size: 8px !important;
}

.f_s-10 {
    font-size: 10px !important;
}

.f_s-12 {
    font-size: 12px !important;
}

.f_s-14 {
    font-size: 14px !important;
}

.f_s-16 {
    font-size: 16px !important;
}

.f_s-18 {
    font-size: 18px !important;
}

.f_s-20 {
    font-size: 20px !important;
}

.f_s-22 {
    font-size: 22px !important;
}

.f_s-24 {
    font-size: 24px !important;
}

.f_s-26 {
    font-size: 26px !important;
}

.f_s-26 {
    font-size: 26px !important;
}

.f_s-28 {
    font-size: 28px !important;
}

.f_s-30 {
    font-size: 30px !important;
}

.f_s-32 {
    font-size: 32px !important;
}


/*#endregion */


/* ==================== Display ==================== */


/*#region Displays */

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-flex {
    display: flex !important;
}


/*#endregion */


/*#region Display Flex*/


/* ----------- justify content ----------- */

.j_c-center {
    justify-content: center !important;
}

.j_c-space-around {
    justify-content: space-around !important;
}

.j_c-space-between {
    justify-content: space-between !important;
}

.j_c-start {
    justify-content: start !important;
}

.j_c-end {
    justify-content: end !important;
}

.j_c-flex-start {
    justify-content: flex-start !important;
}

.j_c-flex-end {
    justify-content: flex-end !important;
}


/* ------------------------------- */


/* ----------- flex direction ----------- */

.f_d-column {
    flex-direction: column !important;
}

.f_d-row {
    flex-direction: row !important;
}

.f_d-column_reverse {
    flex-direction: column-reverse !important;
}

.f_d-row_reverse {
    flex-direction: row-reverse !important;
}


/* ------------------------------- */


/* ----------- align items ----------- */

.a_i-center {
    align-items: center !important;
}

.a_i-flex-start {
    align-items: flex-start !important;
}

.a_i-flex-end {
    align-items: flex-end !important;
}


/* ------------------------------- */


/*#endregion */


/* ==================== Text Align ==================== */


/*#region text align */

.t_a-center {
    text-align: center !important;
}

.t_a-justify {
    text-align: justify !important;
}

.t_a-start {
    text-align: start !important;
}

.t_a-end {
    text-align: end !important;
}


/*#endregion */


/* ==================== Border ==================== */


/*#region Border */


/* ----------- border style ----------- */


/*#region border style */

.b_s-solid {
    border-style: solid;
}

.b_s-dotted {
    border-style: dotted;
}

.b_s-dashed {
    border-style: dashed;
}

.b_s-double {
    border-style: double;
}

.b_s-inset {
    border-style: inset;
}

.b_s-outset {
    border-style: outset;
}

.b_s-ridge {
    border-style: ridge;
}

.b_s-groove {
    border-style: groove;
}


/*#endregion */


/* ------------------------------- */


/* ----------- border colors ----------- */


/*#region border colors */

.b_c-teal {
    border-color: teal !important;
}

.b_c-coral {
    border-color: coral !important;
}

.b_c-chocolate {
    border-color: chocolate !important;
}

.b_c-aquamarine {
    border-color: aquamarine !important;
}

.b_c-burlywood {
    border-color: burlywood !important;
}

.b_c-darkkhaki {
    border-color: darkkhaki !important;
}

.b_c-cornflowerblue {
    border-color: cornflowerblue !important;
}

.b_c-nero {
    border-color: #1e1e1e !important;
}


/*#endregion */


/* ------------------------------- */


/* ----------- border width 1=1px ----------- */


/*#region border width */

.b_w-0 {
    border-width: 0 !important;
}

.b_w-1 {
    border-width: 1px !important;
}

.b_w-2 {
    border-width: 2px !important;
}

.b_w-3 {
    border-width: 3px !important;
}

.b_w-4 {
    border-width: 4px !important;
}

.b_w-5 {
    border-width: 5px !important;
}

.b_w-6 {
    border-width: 6px !important;
}

.b_w-7 {
    border-width: 7px !important;
}

.b_w-8 {
    border-width: 8px !important;
}

.b_w-9 {
    border-width: 9px !important;
}

.b_w-10 {
    border-width: 10px !important;
}


/*#endregion */


/* ------------------------------- */


/* ----------- border radius 1_0=10px ----------- */


/*#region border radius */

.b_r-0 {
    border-radius: 0 !important;
}

.b_r-0_5 {
    border-radius: 5px !important;
}

.b_r-1 {
    border-radius: 10px !important;
}

.b_r-1_5 {
    border-radius: 15px !important;
}

.b_r-2 {
    border-radius: 20px !important;
}

.b_r-2_5 {
    border-radius: 25px !important;
}

.b_r-3 {
    border-radius: 30px !important;
}

.b_r-3_5 {
    border-radius: 35px !important;
}

.b_r-4 {
    border-radius: 40px !important;
}

.b_r-4_5 {
    border-radius: 45px !important;
}

.b_r-5 {
    border-radius: 50px !important;
}

.b_r-5_5 {
    border-radius: 55px !important;
}

.b_r-6 {
    border-radius: 60px !important;
}

.b_r-6_5 {
    border-radius: 65px !important;
}

.b_r-7 {
    border-radius: 70px !important;
}

.b_r-7_5 {
    border-radius: 75px !important;
}

.b_r-8 {
    border-radius: 80px !important;
}

.b_r-8_5 {
    border-radius: 85px !important;
}

.b_r-9 {
    border-radius: 90px !important;
}

.b_r-9_5 {
    border-radius: 95px !important;
}

.b_r-10 {
    border-radius: 100px !important;
}


/*#endregion */


/* ------------------------------- */


/*#endregion */


/* =============== Background Colors =============== */


/*#region background color */

.bg_c-school_bus_yellow {
    background-color: #ffdb00 !important;
}

.bg_c-misty_rose {
    background-color: #ffddd6 !important;
}

.bg_c-porcelain {
    background-color: #e2e0df !important;
}

.bg_c-white {
    background-color: #fff !important;
}

.bg_c-cerulean {
    background-color: #01689c !important;
}

.bg_c-black {
    background-color: #000 !important;
}

.bg_c-water_leaf {
    background-color: #b8ead9 !important;
}

.bg_c-lavender_grey {
    background-color: #b9b0cf !important;
}

.bg_c-tacao {
    background-color: #faa978 !important;
}

.bg_c-sapphire {
    background-color: #300338 !important;
}

.bg_c-dark_tangerine {
    background-color: #feb822 !important;
}

.bg_c-very_light_grey {
    background-color: #cdcdcd !important;
}

.bg_c-linen {
    background-color: #fcfaf1 !important;
}

.bg_c-viking {
    background-color: #32b8cb !important;
}

.bg_c-dark_cerulean {
    background-color: #075571 !important;
}

.bg_c-teal {
    background-color: teal !important;
}

.bg_c-nero {
    background-color: #1e1e1e !important;
}

.bg_c-pearl_bush {
    background-color: #dcd0c0 !important;
}

.bg_c-chablis {
    background-color: #fde8e1 !important;
}

.bg_c-provincial_pink {
    background-color: #f5e5d6 !important;
}


/*#endregion */


/* =============== Text Colors =============== */


/*#region text color */

.t_c-school_bus_yellow {
    color: #ffdb00 !important;
}

.t_c-misty_rose {
    color: #ffddd6 !important;
}

.t_c-porcelain {
    color: #e2e0df !important;
}

.t_c-white {
    color: #fff !important;
}

.t_c-cerulean {
    color: #01689c !important;
}

.t_c-black {
    color: #000 !important;
}

.t_c-water_leaf {
    color: #b8ead9 !important;
}

.t_c-baby_blue {
    color: #6DF0FA !important;
}

.t_c-lavender_grey {
    color: #b9b0cf !important;
}

.t_c-gallery {
    color: #DED9D5 !important;
}

.t_c-tacao {
    color: #faa978 !important;
}

.t_c-mai_tai {
    color: #A3682E !important;
}

.t_c-sapphire {
    color: #300338 !important;
}

.t_c-dark_tangerine {
    color: #feb822 !important;
}

.t_c-very_light_grey {
    color: #cdcdcd !important;
}

.t_c-linen {
    color: #fcfaf1 !important;
}

.t_c-viking {
    color: #32b8cb !important;
}

.t_c-dark_cerulean {
    color: #075571 !important;
}

.t_c-crimson {
    color: crimson !important;
}

.t_c-darkviolet {
    color: darkviolet !important;
}

.t_c-deeppink {
    color: deeppink !important;
}


/*#endregion */


/* =============== Text Shodows =============== */


/*#region text-shadows */

.t_sh-dark {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.873);
}

.t_sh-light {
    text-shadow: 0px 0px 1px white, 2px 1px 2px rgb(0 0 0 / 55%);
}


/*#endregion */


/* =============== Opacity =============== */


/*#region opacity 2=0.2 */

.opacity-0 {
    opacity: 0 !important;
}

.opacity-2 {
    opacity: 0.2 !important;
}

.opacity-4 {
    opacity: 0.4 !important;
}

.opacity-6 {
    opacity: 0.6 !important;
}

.opacity-8 {
    opacity: 0.8 !important;
}

.opacity-half {
    opacity: 0.5 !important;
}

.opacity-full {
    opacity: 1 !important;
}


/*#endregion */


/* =============== Overflow =============== */


/*#region overflow */

.o-visible {
    overflow: visible !important;
}

.o-hidden {
    overflow: hidden !important;
}

.o-auto {
    overflow: auto !important;
}

.o-scroll {
    overflow: scroll !important;
}


/*#endregion */


/* ==================== Others ==================== */


/*#region Others */


/*#region Nav Links */

.nav-links {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    transition: all .5s;
}

.nav-links.hide {
    transform: translateY(-100%);
}

.nav-links li:not(:first-child) {
    margin-left: 10px;
}

.nav-links li a {
    padding: 10px 30px;
    font-size: 22px;
    background-color: rgb(149, 143, 143);
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    border: 1px solid rgb(92, 83, 83);
    border-radius: 5px;
    box-shadow: 1px 1px 1px black, 2px 2px 3px rgb(70, 68, 68), 3px 3px 4px rgb(255, 255, 255);
}

.nav-links li a:link {
    color: white;
    text-shadow: 3px 2px 4px #000000, 0 0 3px rgb(255 253 253);
}

.nav-links li a:visited {
    color: yellow;
}

.nav-links li a:hover {
    color: rgb(131 255 156);
    text-shadow: 1px 1px 1px black, 2px 3px 3px rgb(59, 56, 56);
}

.nav-links li a:active {
    color: rgb(27, 188, 212);
    box-shadow: none;
}


/*#endregion */

#nav_links_control {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

#nav_links_control ul {
    padding: 10px;
    box-shadow: 0 0 3px #72440e;
    border-radius: 5px;
    background-color: #faebd77d;
}

#nav_links_control ul li {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    transition: all .3s;
}

#nav_links_control ul li:not(:last-child) {
    margin-bottom: 10px;
}

#nav_links_control ul li:hover {
    box-shadow: 0 0 3px #7d6868b8;
}

#nav_links_control ul li:active {
    background-color: antiquewhite;
    box-shadow: 0 0 5px #6e5c5cf0;
}

#nav_links_control a {
    color: #72440e;
    width: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_links_control a span.check {
    width: 20px;
    display: flex;
    height: 20px;
    border: 1px solid #72440e;
    justify-content: center;
    align-items: center;
}

#nav_links_control a span.check span {
    transition: all 0.6s;
    background-color: #e5ffebc4;
}

#nav_links_control a span i {
    color: rgb(23, 183, 47);
}

.items_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-circle {
    border-radius: 50% !important;
}

.box-info .text {
    font-style: italic;
    color: darkgoldenrod;
}

.box-info .text span.header {
    font-style: bold;
    color: lightseagreen;
}

.box-info .text span.symbol {
    color: #141e30;
    font-weight: bold;
    font-style: normal;
}


/* ----------- box square 1=100px ----------- */


/*#region box-square */

[class*="box-s"] {
    /* border: 2px solid gray; */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.box-s-1 {
    width: 100px;
    height: 100px;
}

.box-s-2 {
    width: 200px;
    height: 200px;
}

.box-s-3 {
    width: 300px;
    height: 300px;
}

.box-s-4 {
    width: 400px;
    height: 400px;
}

.box-s-5 {
    width: 500px;
    height: 500px;
}

.box-s-6 {
    width: 600px;
    height: 600px;
}

.box-s-7 {
    width: 700px;
    height: 700px;
}

.box-s-8 {
    width: 800px;
    height: 800px;
}

.box-s-9 {
    width: 900px;
    height: 900px;
}

.box-s-10 {
    width: 1000px;
    height: 1000px;
}


/*#endregion */


/* ------------------------------- */


/*#endregion */