header{
    background-color: bisque;
    font-size: 24px;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            margin-right: 7px;
            a{
                padding: 20px 30px;
                span{
                    font-size: 26px;
                }
            }

        }
    }
}