* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding-bottom: 150px;
}

ul {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

header {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}
header .logo p {
  font-size: 2rem;
  color: darkslategrey;
  margin-bottom: 20px;
}
header nav ul li {
  margin-bottom: 10px;
}
header nav ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: chocolate;
  border: 2px solid brown;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 20px;
  border-radius: 8px;
}
header nav ul li a:hover {
  background-color: brown;
  color: white;
}

.drag_drop .drop_items,
.drag_drop .items,
.drag_drop .drop_boxs {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: 10px;
}
.drag_drop .drop_items .img_box,
.drag_drop .drop_items .imgBox,
.drag_drop .items .img_box,
.drag_drop .items .imgBox,
.drag_drop .drop_boxs .img_box,
.drag_drop .drop_boxs .imgBox {
  width: 150px;
  height: 150px;
  background-image: url(../images/angels.tulips.crying.png);
  background-position: center;
  background-size: contain;
}
.drag_drop .items .img_box {
  background-image: url(../images/The_red_rose.png);
}
.drag_drop .drop_boxs .imgBox {
  background-image: url(../images/mosaic_iron_painting.png);
}
.drag_drop .drop_boxs.active {
  border: 2px dashed crimson;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.file_drag_drop .drop_area {
  border: 2px solid rgb(37, 5, 89);
  border-radius: 5px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.file_drag_drop .drop_area.active {
  border: 2px dashed crimson;
}
.file_drag_drop .img_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.file_drag_drop .img_list .img_box {
  width: 20%;
  margin: 10px;
  position: relative;
}
.file_drag_drop .img_list .img_box img {
  max-width: 100%;
}
.file_drag_drop .img_list .img_box .icon_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(160, 160, 160, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-box-shadow 0.3s;
  transition: opacity 0.3s, -webkit-box-shadow 0.3s;
  transition: opacity 0.3s, box-shadow 0.3s;
  transition: opacity 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.file_drag_drop .img_list .img_box .icon_box i {
  color: #fff;
  text-shadow: 0 0 3px black;
  cursor: pointer;
  font-size: 20px;
}
.file_drag_drop .img_list .img_box:hover .icon_box {
  opacity: 1;
  -webkit-box-shadow: 0 0 8px 4px black;
          box-shadow: 0 0 8px 4px black;
}

.scrolling {
  height: 1500px;
}

.form-events .error-message {
  color: red;
}
.form-events #multy_select {
  width: 200px;
  height: 140px;
}