/*#region ==== Work Sans ==== */

/* ----- Thin ----- */

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Thin.ttf);
  font-weight: 100;
}

.workSans-100 {
  font-family: workSans !important;
  font-weight: 100 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

.workSans-100_italic {
  font-family: workSans !important;
  font-weight: 100 !important;
  font-style: italic;
}

/* ----- ExtraLight ----- */

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-ExtraLight.ttf);
  font-weight: 200;
}

.workSans-200 {
  font-family: workSans !important;
  font-weight: 200 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

.workSans-200_italic {
  font-family: workSans !important;
  font-weight: 200 !important;
  font-style: italic;
}

/* ----- Light ----- */

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Light.ttf);
  font-weight: 300;
}

.workSans-300 {
  font-family: workSans !important;
  font-weight: 300 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

.workSans-300_italic {
  font-family: workSans !important;
  font-weight: 300 !important;
  font-style: italic;
}

/* ----- Regular ----- */

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Regular.ttf);
  font-weight: 400;
}

.workSans-400 {
  font-family: workSans !important;
  font-weight: 400 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

.workSans-400_italic {
  font-family: workSans !important;
  font-weight: 400 !important;
  font-style: italic;
}

/* ----- Medium ----- */

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Medium.ttf);
  font-weight: 500;
}

.workSans-500 {
  font-family: workSans !important;
  font-weight: 500 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

.workSans-500_italic {
  font-family: workSans !important;
  font-weight: 500 !important;
  font-style: italic;
}

/* ----- SemiBold ----- */

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-SemiBold.ttf);
  font-weight: 600;
}

.workSans-600 {
  font-family: workSans !important;
  font-weight: 600 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

.workSans-600_italic {
  font-family: workSans !important;
  font-weight: 600 !important;
  font-style: italic;
}

/* ----- Bold ----- */

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Bold.ttf);
  font-weight: 700;
}

.workSans-700 {
  font-family: workSans !important;
  font-weight: 700 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

.workSans-700_italic {
  font-family: workSans !important;
  font-weight: 700 !important;
  font-style: italic;
}

/* ----- ExtraBold ----- */

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-ExtraBold.ttf);
  font-weight: 800;
}

.workSans-800 {
  font-family: workSans !important;
  font-weight: 800 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

.workSans-800_italic {
  font-family: workSans !important;
  font-weight: 800 !important;
  font-style: italic;
}

/* ----- Black ----- */

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Black.ttf);
  font-weight: 900;
}

.workSans-900 {
  font-family: workSans !important;
  font-weight: 900 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

.workSans-900_italic {
  font-family: workSans !important;
  font-weight: 900 !important;
  font-style: italic;
}

/*#endregion */
