/*#region ==== Work Sans ==== */
/* ----- Thin ----- */
@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Thin.ttf);
  font-weight: 100;
}
.workSans-100 {
  font-family: workSans !important;
  font-weight: 100 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
.workSans-100_italic {
  font-family: workSans !important;
  font-weight: 100 !important;
  font-style: italic;
}

/* ----- ExtraLight ----- */
@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-ExtraLight.ttf);
  font-weight: 200;
}
.workSans-200 {
  font-family: workSans !important;
  font-weight: 200 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
.workSans-200_italic {
  font-family: workSans !important;
  font-weight: 200 !important;
  font-style: italic;
}

/* ----- Light ----- */
@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Light.ttf);
  font-weight: 300;
}
.workSans-300 {
  font-family: workSans !important;
  font-weight: 300 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
.workSans-300_italic {
  font-family: workSans !important;
  font-weight: 300 !important;
  font-style: italic;
}

/* ----- Regular ----- */
@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Regular.ttf);
  font-weight: 400;
}
.workSans-400 {
  font-family: workSans !important;
  font-weight: 400 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
.workSans-400_italic {
  font-family: workSans !important;
  font-weight: 400 !important;
  font-style: italic;
}

/* ----- Medium ----- */
@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Medium.ttf);
  font-weight: 500;
}
.workSans-500 {
  font-family: workSans !important;
  font-weight: 500 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
.workSans-500_italic {
  font-family: workSans !important;
  font-weight: 500 !important;
  font-style: italic;
}

/* ----- SemiBold ----- */
@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-SemiBold.ttf);
  font-weight: 600;
}
.workSans-600 {
  font-family: workSans !important;
  font-weight: 600 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
.workSans-600_italic {
  font-family: workSans !important;
  font-weight: 600 !important;
  font-style: italic;
}

/* ----- Bold ----- */
@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Bold.ttf);
  font-weight: 700;
}
.workSans-700 {
  font-family: workSans !important;
  font-weight: 700 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
.workSans-700_italic {
  font-family: workSans !important;
  font-weight: 700 !important;
  font-style: italic;
}

/* ----- ExtraBold ----- */
@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-ExtraBold.ttf);
  font-weight: 800;
}
.workSans-800 {
  font-family: workSans !important;
  font-weight: 800 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
.workSans-800_italic {
  font-family: workSans !important;
  font-weight: 800 !important;
  font-style: italic;
}

/* ----- Black ----- */
@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-Black.ttf);
  font-weight: 900;
}
.workSans-900 {
  font-family: workSans !important;
  font-weight: 900 !important;
}

@font-face {
  font-family: workSans;
  src: url(../fonts/Work_Sans/WorkSans-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
.workSans-900_italic {
  font-family: workSans !important;
  font-weight: 900 !important;
  font-style: italic;
}

/*#endregion */
section#industry .industry-cards .card-item .card-header .card-icon, header nav .icons-box .card, header nav .icons-box .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  color: #252b42;
  font-family: workSans, "sans-serif";
}
@media (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: #252b42;
  display: inline-block;
}
aa:hover {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0;
}
@media (max-width: 576px) {
  header {
    position: relative;
  }
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  header nav .logo {
    margin-right: auto;
  }
}
header nav .logo a {
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
header nav .logo a:hover {
  color: #0d5c63;
}
header nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  header nav .nav-list {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.72);
  }
}
header nav .nav-list li {
  margin: 0 21px;
}
header nav .nav-list a {
  color: #737373;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
header nav .nav-list a:hover {
  color: #ff7b47;
}
@media (max-width: 576px) {
  header nav .nav-list a {
    padding: 15px 21px;
  }
}
header nav .icons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}
header nav .icons-box svg {
  width: 25px;
  height: 25px;
  fill: #737373;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
header nav .icons-box svg:hover {
  fill: #ff7b47;
}
header nav .icons-box .search svg {
  width: 30px;
  height: 30px;
}
header nav .icons-box .card {
  margin-left: 22px;
}
header nav .menu-bar-icon {
  display: none;
}
@media (max-width: 576px) {
  header nav .menu-bar-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    margin-left: 20px;
  }
}
header nav .menu-bar-icon svg {
  fill: #737373;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: 30px;
  height: 30px;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
header nav .menu-bar-icon svg:hover {
  fill: #ff7b47;
}

section#services {
  background-image: url(../images/pexels-ben-neale-380330.jpg);
  background-size: cover;
  padding: 300px 0 200px;
}
@media (max-width: 576px) {
  section#services {
    padding: 200px 0 100px;
  }
}
section#services .services-wrapper h1 {
  font-size: 3.4rem;
  font-weight: 700;
}
section#services .services-wrapper p {
  width: 62%;
  padding: 30px 0;
  line-height: 1.3;
  color: #737373;
}
section#services .services-wrapper .btn-box .btn {
  padding: 15px 30px;
  border-radius: 25px;
  border: 1px solid #ff7b47;
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}
section#services .services-wrapper .btn-box .btn.btn-primary {
  background-color: #ff7b47;
  color: white;
}
section#services .services-wrapper .btn-box .btn.btn-primary:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  -webkit-box-shadow: 0px 7px 4px 1px rgba(202, 104, 66, 0.4392156863);
          box-shadow: 0px 7px 4px 1px rgba(202, 104, 66, 0.4392156863);
}
section#services .services-wrapper .btn-box .btn.btn-secondary {
  border-color: #0d5c63;
  color: #0d5c63;
}
section#services .services-wrapper .btn-box .btn.btn-secondary:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  -webkit-box-shadow: 0px 7px 4px 1px rgba(13, 92, 99, 0.4392156863);
          box-shadow: 0px 7px 4px 1px rgba(13, 92, 99, 0.4392156863);
  background-color: #0d5c63;
  color: white;
}

section#industry {
  padding: 100px 0;
}
section#industry .industry-header h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}
section#industry .industry-header p {
  color: #737373;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  line-height: 1.6;
}
@media (max-width: 767px) {
  section#industry .industry-header p {
    width: 100%;
  }
}
section#industry .industry-cards {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  section#industry .industry-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
section#industry .industry-cards .card-item {
  border: 2px solid rgba(190, 227, 255, 0.65);
  background-color: rgba(190, 227, 255, 0.65);
  border-radius: 8px;
  width: 25%;
}
@media (max-width: 1200px) {
  section#industry .industry-cards .card-item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  section#industry .industry-cards .card-item {
    width: 100%;
  }
}
section#industry .industry-cards .card-item:not(:first-child) {
  margin-left: 20px;
}
@media (max-width: 1200px) {
  section#industry .industry-cards .card-item:not(:first-child) {
    margin-left: 0;
    margin-top: 20px;
  }
}
section#industry .industry-cards .card-item .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px;
}
section#industry .industry-cards .card-item .card-header .card-icon {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
}
section#industry .industry-cards .card-item .card-header .card-icon img {
  width: 32px;
  height: 32px;
}
section#industry .industry-cards .card-item .card-header .card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}
section#industry .industry-cards .card-item .card-header .card-name h4 {
  font-size: 1rem;
  font-weight: 600;
}
section#industry .industry-cards .card-item .card-list {
  border-radius: 8px;
  padding: 35px;
  background-color: white;
}
section#industry .industry-cards .card-item .card-list ul li {
  color: #737373;
  margin-bottom: 10px;
  line-height: 1.5;
}
section#industry .industry-cards .card-item .card-list a {
  color: #ff7b47;
  padding: 5px;
  -webkit-transition: text-shadow 0.3s, -webkit-transform 0.3s;
  transition: text-shadow 0.3s, -webkit-transform 0.3s;
  transition: text-shadow 0.3s, transform 0.3s;
  transition: text-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
section#industry .industry-cards .card-item .card-list a:hover {
  text-shadow: 3px 3px 3px rgba(219, 101, 55, 0.53);
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}