* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.d-flex {
  display: flex !important;
}

.col-sm-1 {
  width: 8.33%;
}

.col-sm-2 {
  width: 16.67%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.33%;
}

.col-sm-5 {
  width: 41.67%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-7 {
  width: 58.33%;
}

.col-sm-8 {
  width: 66.67%;
}

.col-sm-9 {
  width: 75%;
}

.col-sm-10 {
  width: 83.33%;
}

.col-sm-11 {
  width: 91.67%;
}

body {
  background-image: url(../images/vecteezy_small-hexagon-shape-with-light-white-and-grey-color-seamless_6941002.jpg);
  background-size: 35%;
}
body .items {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .items .item {
  height: 100%;
  width: 50px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25), 0px 0px 6px 0px rgba(0, 0, 0, 0.25), -2px 0px 6px 0px rgba(0, 0, 0, 0.25), -3px 0px 6px 0px rgba(0, 0, 0, 0.25), -4px 0px 6px 0px rgba(0, 0, 0, 0.25), -5px 0px 6px 0px rgba(0, 0, 0, 0.25), -6px 0px 6px 0px rgba(0, 0, 0, 0.25), -7px 0px 6px 0px rgba(0, 0, 0, 0.25), -8px 0px 6px 0px rgba(0, 0, 0, 0.25), -9px 0px 6px 0px rgba(0, 0, 0, 0.25), -10px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
body .items .item:nth-child(even) {
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.25), inset 0px 0px 6px 0px rgba(0, 0, 0, 0.25), inset -2px 0px 6px 0px rgba(0, 0, 0, 0.25), inset -3px 0px 6px 0px rgba(0, 0, 0, 0.25), inset -4px 0px 6px 0px rgba(0, 0, 0, 0.25), inset -5px 0px 6px 0px rgba(0, 0, 0, 0.25), inset -6px 0px 6px 0px rgba(0, 0, 0, 0.25), inset -7px 0px 6px 0px rgba(0, 0, 0, 0.25), inset -8px 0px 6px 0px rgba(0, 0, 0, 0.25), inset -9px 0px 6px 0px rgba(0, 0, 0, 0.25), inset -10px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

section#example {
  padding: 30px 0;
}
section#example .example-sass {
  background-color: rgba(0, 111, 68, 0.3960784314);
  border: 2px solid #f5ee43;
  border-radius: 8px;
  padding: 20px;
  display: flex;
}
@media (max-width: 576px) {
  section#example .example-sass {
    display: block;
  }
}
section#example .example-sass .sass-item-1 {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 16, 238, 0.358);
  border: 2px solid #65ede3;
  border-radius: 8px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  section#example .example-sass .sass-item-1 {
    margin-bottom: 10px;
  }
}