/* Overflow */

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-scroll {
    overflow: scroll;
}


/* ------------------- */

[class^="color-"] {
    font-size: 20px;
    padding: 10px;
    color: azure;
    border: 0.5px solid azure;
    border-radius: 5px;
    box-shadow: 0 0 3px azure;
}

[class^="color_radial"] {
    font-size: 16px;
    padding: 5px;
    color: rgb(229 224 224);
    border: 0.5px solid rgb(177, 171, 171);
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(67, 64, 64);
}

[class^="text-color"] {
    background-color: #fff;
    text-shadow: 0 1px 1px black;
}

[class^="l_gradient-"] {
    height: 200px;
}


/* Gradient */


/* Linerar Gradient */

.l_gradient-default {
    background-image: linear-gradient(crimson, #ffdb00, darkviolet);
}

.l_gradient-to-top {
    background-image: linear-gradient(to top, #c6ffdd, #fbd786, #f7797d);
}

.l_gradient-to-right {
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.l_gradient-to-left {
    background-image: linear-gradient(to left, #23074d, #cc5333);
}

.l_gradient-to-bottom-right {
    background-image: linear-gradient(to bottom right, #00f260, #0575e6);
}

.l_gradient-to-bottom-left {
    background-image: linear-gradient( to bottom left, #03001e, #7303c0, #ec38bc, #fdeff9);
}

.l_gradient-to-top-right {
    background-image: linear-gradient(to top right, #1a2a6c, #b21f1f, #fdbb2d);
}

.l_gradient-to-top-left {
    background-image: linear-gradient(to top left, #000046, #1cb5e0);
}

.l_gradient-145deg {
    background-image: linear-gradient(145deg, #ffd89b, #19547b);
}


/* Radial Gradient */

.r_gradient-default {
    background-image: radial-gradient(darkcyan, #0b59b8, #302f6b 60%);
}

.r_gradient-circle {
    background-image: radial-gradient(circle, #dd7002, #fdd936, #3f96ed 25%);
}


/* Box Shadow & Text Shadow */

.box-shadow {
    box-shadow: 3px 3px 8px 3px black;
}

.text-shadow {
    text-shadow: 1px 1px 1px #0b0b0b;
    color: #fbb058;
}


/* Opasity */

.opacity {
    background-image: url(../images/bg_img-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}