header ul {
    margin-top: 16px;
}

.btn {
    padding: 30px 50px;
    border: 5px solid #69472f;
    border-top: none;
    border-bottom: none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: "Times New Roman", serif;
    font-size: 56px;
    text-decoration: none;
    margin: 5px;
}


/* Display: block */

.h1,
.p,
.div {
    font-size: 24px;
    background-color: antiquewhite;
    margin: 10px 0;
    padding: 10px;
}


/* Display: inline */

.a,
.span {
    background-color: darkkhaki;
    font-size: 24px;
    margin: 10px;
    padding: 10px 20px;
}

.inline-block .h1,
.inline-block .p,
.inline-block .div {
    display: inline-block;
    width: 200px;
    height: 100px;
    text-align: center;
}