section {
    padding: 15px;
}

input {
    margin: 15px 20px;
    padding: 10px;
    border: 1px solid rgb(24, 16, 91);
    border-radius: 5px;
    font-size: 18px;
}

a {
    display: inline-block;
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    background-color: black;
}

header {
    color: rgb(123, 128, 95);
}


/* =============== Background ======================== */

.container {
    width: 80%;
    margin: 0 auto;
}

.container:first-child {
    margin-top: 30px;
}

.container:not(:first-child) {
    margin: 150px auto;
}

.container hr {
    margin: 30px 10px;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: rgb(114, 54, 44);
}

.border {
    /* ------- border width -------- */
    border-width: 8px;
    /* ------- border color -------- */
    /* default olaraq black olur */
    border-color: gray;
    width: 100%;
    height: 70px;
    margin: 10px;
}

.display-f {
    display: flex;
}

.border-radius {
    border-radius: 10px;
}

.margin-bottom-2 {
    margin-bottom: 20px;
}

.margin-top-3 {
    margin-top: 30px;
}

.items-center {
    display: flex;
    justify-content: center;
    align-items: center;
}